# misc files
.old/
.debug/
.tmp/
.sub/
.coa/

# code
Rplots.pdf
.tags

# data
.raw/
*.rdata
*.Rdata

# outputs

# tex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*-blx.bib
*.bcf
*.nav
*.snm
*.vrb
*.run.xml
*.synctex
*.synctex.gz
*-converted-to.pdf

# windows
.DS_Store

code/mix/.Rhistory
