# old files
.old/
.debug/
.tmp/

# code
Rplots.pdf
.tags

# data
.raw/
*.rdata
*.Rdata

# outputs

# tex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*-blx.bib
*.run.xml
*.synctex
*.synctex.gz
*-converted-to.pdf

# windows
.DS_Store

